<div class="boss">
  <div class="container ">
    <div class="row">
      <div class="col-md-12 lead">
        <div class="col-md-8 info">
          <div class="row">
            <div class="col-md-4">
                <p>Name party: </p>
            </div>
            <div class="col-md-8">
                <label for="">tiec nhau nhet</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
                <p>Current number: </p>
            </div>
            <div class="col-md-8">
                <label for="">2/5</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
                <p>Time start: </p>
            </div>
            <div class="col-md-8">
                <label for="">18:00</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
                <p>Time end: </p>
            </div>
            <div class="col-md-8">
                <label for="">20:00</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
                <p>date: </p>
            </div>
            <div class="col-md-8">
                <label for="">22/08/2018</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
                <p>List user: </p>
            </div>
            <div class="col-md-8">
                <label for="">Pham Ha , Troy Sivan, Shaw Mensdes</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
                <p>Leader: </p>
            </div>
            <div class="col-md-8">
                <label for="">Pham Ha</label>
            </div>
          </div>
         
        <div class="col-md-4 map">

        </div>
      </div>
    </div>
  </div>
</div>
