<!-- <agm-map [latitude]="10.91601859333259" [longitude]="106.71650704288322" [zoom]="zoom">
  </agm-map> -->

<!-- <div *ngIf="lat && lng"> -->

<!-- <agm-map [latitude]="10.91601859333259" [longitude]="106.71650704288322" [zoom]="zoom">
    <agm-marker *ngFor= "let marker of quanAn" [latitude]="lat" [longitude]="lng">
      <agm-info-window>
        <p>Bạn đang ở đây</p>
      </agm-info-window>
    </agm-marker>

    <agm-marker class="location" *ngFor= "let marker of quanAn"
    [latitude]="marker.Lat" 
    [longitude]="marker.Lng"
    [iconUrl]="'assets/rsz_restaurant_marker.png'"
    >

      <agm-info-window>
          <img src="assets/{{marker.Image}}" alt="" width="150" height="150">
        <h2>{{marker.TenQuan}}</h2>
        <p>--Địa chỉ--</p>
        <p aria-placeholder="cái gì đó">Party: 3</p>
        <button type="button" class="btn btn-danger" mat-raised-button (click)="openDialog()">Set party</button>
        <button type="button" class="btn btn-success" mat-raised-button (click)="openJoinDialog(marker._id)">Join</button>
      </agm-info-window>

    </agm-marker>

  </agm-map> -->

<div class="container">
  <div class="form-group">
    <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
      #search [formControl]="searchControl">
  </div>
  <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="true" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude">
      <agm-info-window style="font-size: 12px;">
        <div class="text-center">
          <img src="https://www.mcdonalds.com/content/dam/usa/documents/mcdelivery/mcdelivery_new11.jpg" width="130px" height="100px">
        </div>
        <p>
          <i class="fas fa-map-marker"></i>Quan 3 con bo`</p>
        <p>
        <p>
          <i class="fas fa-map-marker"></i> 323/3 Nguyen Trãi , P.Ngyen Cu Trinh, HCM</p>
        <p>
          <i class="fas fa-mobile-alt"></i> 01673.123.4123
          <i class="far fa-clock"></i> 11:00 - 17:00
        </p>

        <p class="minmax" style="font-size: 20;">
          <i class="fas fa-dollar-sign"></i>
          <span>Min Price: 20.000d</span> -
          <span style="padding-left: 5%;">Max Price: 30.000d</span>
        </p>
        <div class="btn_flow text-center">
          <button style="width:95px" type="button" class="btn btn-danger">Set party</button>
          <button type="button" class="btn btn-success">Join</button>
        </div>
      </agm-info-window>
    </agm-marker>
    <!-- all quan -->
    <agm-marker class="location" *ngFor="let marker of quans" [latitude]="marker.lat" [longitude]="marker.long" [iconUrl]="'assets/rsz_restaurant_marker.png'">
      <agm-info-window style="font-size: 12px;">
        <div class="text-center">
          <img src="https://www.mcdonalds.com/content/dam/usa/documents/mcdelivery/mcdelivery_new11.jpg" width="130px" height="100px">
        </div>
        <p>
          <i class="fas fa-map-marker"></i>{{marker.name}}</p>
        <p>
        <p>
          <i class="fas fa-map-marker"></i>{{marker.address}}</p>
        <p>
          <i class="fas fa-mobile-alt"></i> {{marker.phone}}
          <i class="far fa-clock"></i> {{marker.timeStart}} - {{marker.timeAnd}}
        </p>
        <p class="minmax" style="font-size: 20;">
          <i class="fas fa-dollar-sign"></i>
          <span>Min Price:{{marker.minPrice}}</span> -
          <span style="padding-left: 5%;">{{marker.maxPrice}}</span>
        </p>
        <div class="btn_flow text-center">
          <button style="width:95px" type="button" class="btn btn-danger">Set party</button>
          <button type="button" class="btn btn-success">Join</button>
        </div>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</div>
<!-- <div> -->
