<div>
  <h2 class="text-center" mat-dialog-title>
    <i class="fas fa-pen-square"></i> SET PARTY</h2>
  <hr>
  <mat-dialog-content>
    <div class="container">

      <div class="row">
        <label class="col-md-4">Leader:</label>
        <label class="col-md-4" >Ha Pham</label>
      </div>
      <div class="row">
        <label class="col-md-4">Title:</label>
        <input  [(ngModel)]="party.titel" style="height: 36px" class="col-md-4 form-control" type="text" >
      </div>
      <div class="row">
        <label class="col-md-4">Field:</label>
        <input  [(ngModel)]="party.field" style="height: 36px" class="col-md-4 form-control" type="text" >
      </div>
      <div class="row">
        <label class="col-md-4">Number Max:</label>
        <input  [(ngModel)]="party.numberMax" style="height: 36px" class="col-md-4 form-control" type="number" min="1" >
        <label class="col-md-4 ">people</label>
      </div>
      <div class="row">
        <label class="col-md-4">Time:</label>
        <input  [(ngModel)]="party.timeStart" style="height: 36px" type="time" class="form-control col-md-3">
        <label>-</label>
        <input   [(ngModel)]="party.timeEnd" type="time" class="form-control col-md-3">
      </div>
      <div class="row">
        <label class="col-md-4">Date start:</label>
        <input  [(ngModel)]="party.dateStart"  style="height: 36px" class="form-control col-md-4" type="date"  max="2018-12-31">
         * Don't set a date too far from now!
      </div>
    </div>
    <br>
    <!-- <strong>{{data}}</strong> -->
  </mat-dialog-content>
  <hr>
  <mat-dialog-actions>
    <button class="btn btn-danger" mat-button (click)="onCloseConfirm()">Create</button>
    <button class="btn btn-outline-secondary" mat-button (click)="onCloseCancel()" style="margin-left: 30px;">Cancel</button>
  </mat-dialog-actions>
</div>
